.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.panel {
  height: 100vh;
  width: 50vw;
}

.left-panel {
  background-color: #000;
}

.right-panel {
  background-color: #fff;
}
